body{
	background-color: #3b5998;
}
.sidebar{
	position: fixed;

	height: 100%;
	width: 4%;

	background-color: white;
}


.title{
	background-color: white;
	margin: 5px;
	border: 1px solid black;
	width: 30%;
}


.leftCol{
	position: absolute;

	height: 100%;
	width: 32%;

	left: 0;
	top: 0;

	align-items: center;
	overflow: scroll;

	margin-left: 4%;
}

.middleCol{
	position: absolute;

	height: 100%;
	width: 32%;

	left: 0;
	top: 0;

	align-items: center;
	overflow: scroll;

	margin-left: 36%;
}

.rightCol{
	position: absolute;

	right: 0;
	top: 0;
	height: 50%;
	width: 32%;
	max-height: 50%;
}

.rightCol2{
	position: absolute;

	right: 0;
	top: 50%;
	height: 50%;
	width: 32%;
	max-height: 50%;
}

.rightColFull{
	position: absolute;

	right: 0;
	top: 0;
	height: 100%;
	width: 32%;
}


.icon{
	padding: 2.5%;
	max-height: 7%;
	max-height: 7%;
	margin: auto;
}

.bottomIcon{
	padding: 2.5%;
	max-height: 3.5%;
	max-height: 3.5%;
	margin: auto;
}


.shareBackground{
	display: block;
	margin: auto;
	width: 95%;
	height: 70%;
	border: 1px solid black;
	background-color: #8b9dc3;
}

.shareText{
	margin: 5%;
	width: 90%;
	height: 90%;
	background-color: #8b9dc3;
	border: none;
}
