body {
	background-color: #1da1f2;
	color: white;
}

#shareText {
	box-sizing: border-box;
	background-color: white;
	border-radius: 1em;
	padding: 1em;
}

#twitter_login {
	background-color: white;
	border: 2mm white solid;
	border-radius: 1mm;
	cursor: pointer;
}

#leftCol, #middleCol {
  padding: 0 3em;
}
