body{
	background-color: #2a8eaf;
}
.sidebar{
	position: fixed;

	height: 100%;
	width: 4%;

	background-color: white;
}

.leftCol{
	position: absolute;

	height: 100%;
	width: 32%;

	overflow-y: scroll;

	left: 0;
	top: 0;

	margin-left: 4%;
}

.middleCol{
	position: absolute;

	height: 100%;
	width: 32%;

	overflow-y: scroll;

	left: 0;
	top: 0;

	margin-left: 36%;
}

.rightCol{
	position: absolute;

	right: 0;
	top: 0;

	overflow-y: scroll;

	height: 50%;
	width: 32%;
}

.rightCol2{
	position: absolute;

	right: 0;
	top: 50%;

	overflow-y:scroll;

	height: 50%;
	width: 32%;
}

.icon{
	padding: 2.5%;
	max-height: 7%;
	max-height: 7%;
	margin: auto;
}

.bottomIcon{
	padding: 2.5%;
	max-height: 3.5%;
	max-height: 3.5%;
	margin: auto;
}
