.platform_icon_image,
.platform_icon_image > *,
.platform_icon_container,
.platform_icon_background {
	width: inherit;
	height: inherit;
	max-width: inherit;
	max-height: inherit;
}

.platform_icon_container {
	padding: 2mm;
	position: relative;
	overflow: hidden;
	background-color: transparent;
}

.platform_icon_background {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
}

.platform_icon_background:hover {
	background-color: transparent;
}

.platform_icon_badge {
	color: white;
	background-color: red;
	font-weight: bold;
	text-align: center;
	vertical-align: baseline;
	padding: 0.25em 0.5em;
	border-radius: 25%;
	position: absolute;
	top: 1mm;
	right: 1mm;
	z-index: 1;
}

.platform_icon_image {
	padding: 0.25mm 1mm;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	z-index: 0;
}

.platform_icon_image:hover {
	padding: 0;
}

.platform_icon_image > * {
	align-self: center;
}
